@charset "utf-8";

/*
    about styles
    version: 03.03.2016

*/

/* --------------- article --------------- */
.article {
    color: #292929;
    font-size: 22px;
}
/* --------------- /article --------------- */