@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:hidden;overflow-x:hidden;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "Proxima Nova Bold";
    src: url("../fonts/proximanova-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url("../fonts/proximanova-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/proximanova-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    height: 100vh;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__centered{
    position: relative;
    z-index: 1;
    max-width: 1211px;
    padding: 0 15px;
    margin: 0 auto;
}
.site__title{
    margin: 0 0 10px;
    font-size: 66px;
    line-height: 64px;
    font-family: "Proxima Nova Bold", sans-serif;
    font-weight: 400;
    color: #151414;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 0;
    left: 0;
}
/* --------------- /logo --------------- */

/* --------------- screen --------------- */
.screen {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #FFF;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
/* --------------- /screen --------------- */

/* --------------- pack-includes --------------- */
.pack-includes{
    background: #242a2f;
    padding-top: 116px;
    color: #fff;
}
.pack-includes .site__title{
    margin-bottom: 116px;
    color: #fff;
    text-align: center;
}
.pack-includes__wrap{
    max-width: 1181px;
    margin: 0 auto;
    text-align: justify;
}
.pack-includes__wrap:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.pack-includes__item{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-bottom: 70px;
    font: 20px "Proxima Nova Light";
    text-align: center;
}
.pack-includes__pic{
    width: 50px;
    height: 50px;
    margin: 0 auto 5px;
    background-position: center;
    background-repeat: no-repeat;
}
.pack-includes__title{
    display: block;
    font: 22px "Proxima Nova Regular";
    margin-bottom: 10px;
}

/* --------------- /pack-includes --------------- *//* --------------- /screen --------------- */


@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}